/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(rgb(255, 243, 234),rgb(255, 237, 237));
}
/* CSS variables */
/* :root{

} */

/* Navbar */
#navbar{
    position: fixed;
    top: 0rem;
    right: 0rem;
    left: 0rem; 
}

nav{
    content: "";
    background:rgba(0, 0, 0, 0.472);
    position: absolute;
    backdrop-filter:blur(2px);
    filter: blur(0.3px);
}

nav:hover{
    background: rgb(19, 27, 22);
    filter: none;
    backdrop-filter: none;
}

#logo{
    transform: perspective(90px) rotate3d(0.3,1,0,
    40deg);
    transform-style:preserve-3d;
    display: inline-block;
    height: fit-content;
}
#logo s{
    color: #1fe900;
    box-shadow: 1px 0px 17px 4px #96ff64;
    border-radius: 35%;
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 2px 2px #0d6300;
    background-color: #0000005e;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

#navbar ul li{
    list-style: none;
    padding: 0.2rem;
    margin: 0.5rem 1rem;
}

#navbar ul li a{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border:0.3rem solid transparent;
    border-radius: 3px;
}
#navbar ul li a:hover{
    background:linear-gradient(225deg,rgb(8, 8, 8),rgb(102, 102, 102));
    border:0.3rem outset rgb(36, 36, 36);
}

#navbar ul li a:active{
    background:linear-gradient(225deg,rgb(15, 15, 15),rgb(78, 78, 78));
    margin: 0.1rem;
    border-width: 0.2rem;
}


/* header|home */
#home{
    height:50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    box-shadow:  13px 4px 10px 3px rgb(104, 108, 124);
    background-color: #00000073;
}

#home::before{
    content: "";
    position: absolute;
    background:url(../resources/markus-spiske-iar-afB0QQw-unsplash.jpg) rgb(0, 0, 0) no-repeat center center/cover ;
    width: 100%;
    height: inherit;
    z-index: -1;
    animation: pan 30s ease-out 0s infinite;
}

@keyframes pan {
    0%{
        background-position:top ;
        background-position-x: left;
    }
    50%{
        background-position:bottom ;
        background-position-x: right;
    }
    100%{
        background-position: top ;
        background-position-x: left;
    }
}

#home h1{
    text-align: center;
    color: rgb(0 217 29);
    text-shadow: 15px 30px 6px rgb(66 193 83), -1px 2px 1px rgb(17 105 0), 2px -1px 1px rgb(101 255 71);
}

/* About */
#about{
   padding:4rem 0.2rem;
   margin:4rem 0.2rem;
   margin-bottom: 10rem; 
   background-color: rgba(0, 183, 255, 0.178);
   border-left:50px solid rgb(0 ,0, 0 , 44%); ;
   text-align: center;
   animation: color1 10s ease-in 2s infinite ;
}

@keyframes color1 {
    0%{
        background-color: rgba(0, 0, 255, 0.1);
        border-color: rgba(0, 0, 255, 0.7);
    }
    33%{
        background-color:rgba(255, 0, 0, 0.1) ;
        border-color:rgba(255, 0, 0, 0.7)  ;
    }
    66%{
        background-color: rgba(0, 255, 0, 0.1);
        border-color: rgba(0, 255,0, 0.7);
    }   
    100%{
        background-color: rgba(0, 0, 255, 0.1);
        border-color: rgba(0, 0, 255, 0.7);
    }
}

#about h2{
    margin: 1rem;
}

#about div{
    font-size: 20px;
}

/* Content */
#content{
    padding:4rem 2rem;   
    margin-bottom: 10rem; 
    border: 2px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 10px; 
}

#content div{
    padding: 1rem;
    margin: 1rem;
}
.keyboard{
    display: inline-block;
    background-color: #292929;
    color: white;
    font-size:1.5rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: default;
    text-shadow: 1px 1px 1px rgb(25, 52, 63);
}

.keyboard:hover{
    background: radial-gradient(#000000,#424242);
}


/* Footer */

footer{
    background-color: black;
    height: 10%;
    border-left: 10px solid rgb(17, 17, 17)  ;
    border-right: 10px solid rgb(17, 17, 17)  ;
    display: flex;
    justify-content: center;
}

footer div{
    margin:10px;
}
footer div a{
    position: relative;
    color: white;
    text-decoration: none;
}

footer div :visited{
    color: white;
}


/* Utility class */
.h-primary{
    font-size: 3rem;
    
}
.h-secondary{
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgb(49, 26, 5) ;    
}

.box-shad{
    box-shadow:2px 2px 14px 0px black;
}
